<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <form class="form" [formGroup]="form" role="form" novalidate (submit)="resetPassword($event)">
              <div class="card-block">
                <h1 translate>fpd.title</h1>
                <p class="text-muted" translate>fpd.description</p>
                <div class="input-group mb-1">
                  <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                  <input type="text" class="form-control" placeholder="{{'fpd.email'|translate}}" required formControlName="email" [ngClass]="{'-error': formSubmitted && form.controls.email.hasError('required')}">
                </div>
                <div class="input-group mb-2">
                  <br/>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-2">Reset password</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0"></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>Sign in</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-1" [routerLink]="['/login']">Se connecter.</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>