<header class="app-header navbar">
    <button class="navbar-toggler hidden-lg-up" appMobileSidebarToggler type="button">&#9776;</button>
    <a class="navbar-brand" [routerLink]="['']"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler" appSidebarToggler href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body" [style.min-height]="contentMinHeight">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin']"><i class="icon-speedometer"></i> {{'admin.menu.dashboard' | translate }} <span class="badge badge-info">NEW</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['users']" *appHasRight="'R_API_USER_R'"><i class="icon-people"></i> {{'admin.menu.users' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['languages']" *appHasRight="'R_API_LANGUAGE_R'"><i class="fa fa-globe"></i> {{'admin.menu.languages' | translate }}</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
<template ngbModalContainer></template>